# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj
#因為我們也希望備份 3D model檔

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib
#因為希望也備份 freeglut 所以註解掉

# Executables
*.exe
*.out
*.app
